<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root domain to /login if not already there
    RewriteRule ^$ /login [R=301,L]

    # Handle Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
